<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know the player</title>
    <link rel="stylesheet" href="styleStart.css">
    <link rel="shortcut icon" href="Foto/LogoMakr-9vF3Tz.png">
</head>

<body>


    <header>
        <p>Know the player</p>
    </header>

    <article>
        <div id="no">

        </div>

        <div id="name">
            <p id="labelNick"> Nickname:</p>
            <p id="lableServerName">Server Name:</p>

        </div>

        <form id="playerForm" method="POST" action="/main">

            <input type="text" value="Wildicute" id="nick" name="nick">

            <input type="text" value="Twisting Nether" id="serverName" name="serverName">

        </form>
        <div id="button">
            <input type="submit" id="submit" value="Submit" form="playerForm">
        </div>
        <p id="example">Check other players:</p>
    </article>
    <footer>
        <div class="player" id="player1">
            <p>Drjay - Tarren Mill</p>
        </div>
        <div class="player" id="player2">
            <p>Whimpy - Burning Legion</p>
        </div>
        <div class="player" id="player3">
            <p>Raíku - Ravencrest</p>
        </div>
        <div class="player" id="player4">
            <p>Coldlatte - Burning Legion</p>
        </div>

    </footer>




</body>

</html>