<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <header>


        <p>Know the player</p>

    </header>
    <article>
        <div id="left">
            <div class="charcterName">

                <p>Name: <%= nick %>
                </p>
                <p>Realm: <%= server %>
                </p>


            </div>

            <p id='avatar'></p>
        </div>

        <div id="right">

            <div id="raidProgress">
                <p>Mythic raid progress</p>
                <div id="progressBarMythic"></div>
                <p>Heroic raid progress</p>
                <div id="progressBarHC"></div>
            </div>

            <div id="DungeonScore">
                <p>Dungeon score: 2482</p>
                <img src="Foto/RH-MYTHICS-1.png" alt="NO IMAGE">

            </div>


            <div id="PVP">
                <img src="Foto/Q4TDZMWJS1DC1528483047584.png" alt="No foto">
                <p>2v2 Arena raitng: 1800</p>
                <img src="Foto/Q4TDZMWJS1DC1528483047584.png" alt="No foto">
                <p>3v3 Arena raitng: 1800</p>
            </div>




        </div>
    </article>
    <footer></footer>


    <script>
        let playerData = {

            playerNick: `<%= nick %>`,
            playerServer: `<%= server %>`
        }

    </script>




    <script src="app.js"></script>
</body>

</html>