<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know the player</title>
    <link rel="stylesheet" href="styleStart.css">
</head>

<body>


    <header>
        <p>Know the player</p>
    </header>

    <article>

        <div id="name">
            <p id="labelNick"> Nickname:</p>
            <p id="lableServerName">Server Name:</p>

        </div>

        <form id="playerForm" method="POST" action="/main">

            <input type="text" id="nick" name="nick">

            <input type="text" id="serverName" name="serverName">

        </form>
        <div id="button">
            <input type="submit" id="submit" value="Submit" form="playerForm">
        </div>

    </article>




</body>

</html>