<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <link rel="shortcut icon" href="Foto/LogoMakr-9vF3Tz.png">
</head>

<body>

    <header>

        <a href="/">Know the player</a>


    </header>
    <article>
        <div id="left">
            <div class="charcterName">

                <p>Name: <%= nick %>
                </p>
                <p>Realm: <%= server %>
                </p>


            </div>

            <p id='avatar'></p>
        </div>

        <div id="right">

            <div id="raidProgress">
                <p class="name">Mythic raid progress</p>
                <div id="progressBarMythic"></div>
                <p id="myNumber"></p>
                <p class="name">Heroic raid progress</p>
                <div id="progressBarHC"></div>
                <p id="hcNumber"></p>
            </div>

            <div id="DungeonScore">
                <p id="score"></p>
                <img src="Foto/RH-MYTHICS-1.png" alt="NO IMAGE">

            </div>


            <div id="PVP">
                <img id="img2vs2" alt="No foto">
                <p id="p2vs2"></p>
                <img id="img3vs3" alt="No foto">
                <p id="p3vs3"></p>
            </div>




        </div>
    </article>
    <footer></footer>


    <script>
        let playerData = {
            playerNick: `<%= nick %>`,
            playerServer: `<%= server %>`
        }
    </script>




    <script src="app.js"></script>
</body>

</html>