/* mian */

*{

    margin: 0;
    padding: 0;

}

header{

height: 20vh;
background: #1B1717;
display: flex;
flex-direction: row;
align-items: center;

}

header p{

    margin-left: 5vh;
    color: #EEEBDD ;
    font-size: 3vw;
    font-weight: bold;
}

article{
    display: flex;
    height: 80vh;
    background: #EEEBDD ;
    color:#1B1717 ;
    flex-direction: row;
}

/* Left side */
#left{
    border-right: 0.5vw #1B1717 solid;

}


.charcterName{
    display: flex;
flex-direction: row;
}

article div p{
 
padding: 10px;
font-size: 1.5vw;
font-weight: bold;
color:#1B1717 ;
}



#avatarID{
   
    height: 67vh;
    width: 28vw;
    object-fit: cover;
    border: none;
    
  
}

/* 
Right side */

#right{
   
    display: flex;
    flex-direction: row;
    
  
    align-items: center;
    
   
}

#raidProgress{
    display: flex;
    flex-direction: column;
    justify-content: center;

 
    height: 80vh;
    padding-right:2vw;
    border-right: 0.5vw #1B1717 solid;
}

#DungeonScore{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right:4vw;
  align-items: center;
    height: 80vh;
    
    border-right: 0.5vw #1B1717 solid;
}
#DungeonScore p{
    margin-left: 2vw;
    margin-bottom: 4vh;
}
#DungeonScore img{
   height: 8vh;
    margin-left:4vw;
}

#PVP{
    display: flex;
 
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}


#PVP img{

    height: 20vh;

}

.name{
    margin-left:4vw; 
   
    width: 15vw;
}
#myNumber{
    margin-bottom: 3vh;
    margin-left:8vw; 

}
#hcNumber{
    margin-left:8vw; 
}
#progressBarMythic {
    width: 1%;
    height: 6vh;
    background-color: #810000;
    text-align: center;
    line-height: 32px;
    color: black;
    margin-left: 1vw;
    margin-bottom: 1vh;
  }

  #progressBarHC {
    width: 1%;
    height: 6vh;
    background-color: #810000;
    text-align: center;
    line-height: 32px;
    color: black;
    margin-left: 1vw;
    margin-bottom: 1vh;
  }